html, body {
    text-align: center;
    height: 100%;
    margin: 0;
    background-image: url('website.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Console', Courier, monospace;
    color: white;
}

.thing {
    display: grid;
    place-items: center;
    height: 100vh;
}